
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


:root {
  /* colors */
  --clr-base:                  #1E1E1E;
  --clr-bales-lt:              #525252;
  --clr-primary-appleRed:      #DE5A5A;
  --clr-primary-earthBrown:     #EEE6D5;
  --clr-primary-earthBrown-dk: #E3DBC9;
  --clr-primary-earthBrown-dkn:#D3C8B1;
  --clr-neutrals-white:        #fff;
  --clr-neurals-black:         #000;


  --ff-inter-ss: "Inter", sans-serif;
  /* fonts sizes */

  /* font weights */

  /* duration */
  --tsn-ease-slow: 1s;

  /* elevation */
  --box-shade-lt: 0px 5px 5px 4px rgba(0, 0, 0, 0.04);
  --box-shade: 0px 5px 5px 4px rgba(0, 0, 0, 0.06);
  --brdr-white-clr: #ffffff4f;

  /* padding */
  --pad-15: 15px;
  --pad-20: 20px;
  --pad-25: 25px;
  --pad-30: 30px;

  /* margin */
  --mar-5: 5px;
  --mar-10: 10px;
  --mar-15: 15px;
  --mar-20: 20px;

  
}

body {
    background: var(--clr-primary-earthBrown-dk);
    margin: 0;
    font-family: var(--ff-inter-ss);
    font-size: 16px;
}

.container {
    
 
    display: flex;
    justify-content: center;
    align-items: stretch;
  
    max-width: 1300px;
    margin: 0 auto;

}
    
.con-wrap {
       
    background: grey;
   
    flex: 1;
}

.dgrid {
  display: grid;
}

.dflex{
    display: flex;
}



.just-con-sp-bet{
    justify-content: space-between;
}

.align-fl-end {
    align-items: flex-end;
}

.align-fl-cen {
    align-items: center;
}


.fdcol {
    flex-direction: column;
}



/* SIDEBAR */
#sidebar {
    max-width: 280px;
    background: var(--clr-primary-earthBrown);
    box-shadow: var(--box-shade);
    z-index: 1;
    position: relative;

 }

 .sidemenuwrap {
  padding: var(--pad-30);
}

.divider {
  display: block;
  height: 1px;
  background-color: var(--clr-primary-earthBrown-dk);
  margin: 40px 0;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .icon {
    width: 40px;
    height: 40px;
    background-color: var(--clr-primary-earthBrown-dkn);
    align-content: center;
    text-align: center;
    border-radius: 10px;

    svg{
      margin-bottom: -2px;
    }
}

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--clr-bales-lt);
  }
  
  li {
    display: flex;
    gap: 10px;
  }


  li:hover .icon, li .active .icon {
    background-color: var(--clr-primary-appleRed);
    transition: all ease var(--tsn-ease-slow);
  }
  
  li:hover a, li .active  {
    color: var(--clr-base);
    font-weight: 500;
  }

  li:hover a svg path, li .active svg path {
    stroke: var(--clr-neutrals-white);
  }
  
}


#liblogo {
  margin: 0;
  margin-bottom: 40px;
  img {
    width: 80%;
  }
} 








/* MAINCONTENT */

#maincontent{
    
    display: flex;
    width: 100%;
}

#book-content {
    width: 100%;
}


/* HEADER */
#header {
   padding: var(--pad-20);
    background: var(--clr-primary-earthBrown);
    box-shadow: var(--box-shade);
}

#searchform {
  color: var(--clr-base);
  display: flex;
  /* padding: 2px; */
  border: 1px solid transparent;
  border-radius: 5px;
  flex-direction: row-reverse;
  
}

input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 5px 20px;
  padding-left: 55px;
  font-size: 16px;
  color: var(--clr-base);
  border: 1px solid transparent;
  border-radius: 10px;
  height: 48px;
  background: var(--clr-primary-earthBrown-dk);
  margin-left: -50px;
  width: 390px;
}

input[type="search"]:focus {
  outline: var(--clr-primary-appleRed) solid 2px;
} 

input[type="search"]::placeholder {
  color: var(--clr-bales-lt);
}

button[type="submit"] {
  text-indent: -999px;
  z-index: 1;
  
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  border: 1px solid transparent;
  border-radius: inherit;
  background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 13L19 19M8 15C4.13401 15 1 11.866 1 8C1 4.13401 4.13401 1 8 1C11.866 1 15 4.13401 15 8C15 11.866 11.866 15 8 15Z' stroke='%23525252' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center;
  cursor: pointer;
  
}


.profilewrap{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
  align-items: center;
}

.profilewrap li {
  display: flex;
  align-items: center;
  
}

li.profile {
  gap: 10px;
}

.profile a:hover, .profile a:hover svg path {
  color: var(--clr-primary-appleRed);
  stroke: var(--clr-primary-appleRed);

}

.profileimage:hover img {
  border-color: var(--clr-primary-appleRed);
  transition: all ease 0.5s;
}
.profile a {
  display: flex;
  text-decoration: none;
  color: var(--clr-base);
  font-weight: 500;
  gap: 10px;
}

.notifcount {
  background: var(--clr-primary-appleRed);
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-left: -7px;
  margin-top: -5px;
  
}

.notifcount span {
  font-size: 8px;
  color: var(--clr-neutrals-white);
}

.profileimage img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid var(--clr-primary-earthBrown-dkn);
}


/* BOOK CONTENT */
#book-wrap {
   
    min-height: 100px;
}

#book-feat {
    min-height: 330px;
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgb(0 0 0 / 90%)), url(../images/pokemonbook.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    
}

.featwrap {
  padding: var(--pad-30);
}

.featinfo h4 {
  margin: 0;
  margin-bottom: var(--mar-5);
  color: var(--clr-neutrals-white);
  font-weight: 400;
  font-weight: 16px;
}

.featinfo h3 {
  font-size: 24px;
  margin-top: 0;
  font-weight: 600;
}

.featinfo h3  a {
  color: var(--clr-neutrals-white);
  text-decoration: none;
}
/* recommended */
#recommenedbooks {
  padding: var(--pad-20);
  background: var(--clr-primary-earthBrown);
}

.regularbtn {
  font-size: 16px;
  color: var(--clr-neutrals-white);
  background: var(--clr-primary-appleRed);
  border: 1px solid var(--clr-primary-appleRed);
  border-radius: 10px;
  padding: 0 15px;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all ease 0.5s;
}

.regularbtn:hover {
  background: var(--clr-neutrals-white);
}
.regularbtn:hover span, .regularbtn:hover span svg path {
 color: var(--clr-primary-appleRed);
 stroke: var(--clr-primary-appleRed);
}
.regularbtn span {
  margin-bottom: -1px;
}

.regularbtn .icon {
  line-height: 0.9;
}



/* BOOK LISTING CARDS */

#book-cards {
    padding: var(--pad-20);
    background: var(--clr-primary-earthBrown);
    border-radius: 20px;
}



.sec-heading {
 margin-bottom: 20px;
}

.sec-heading h3 {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
}

#book-listing {
    background: var(--clr-primary-earthBrown-dk);
    padding: var(--pad-25);
    gap: 20px;
    flex: 1;
   

}

.bookdetails {
    padding: var(--pad-15);
}

#book-list {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

#bookitem {
  box-shadow: var(--box-shade-lt);
  border-radius: 10px;
   
}

.bookcover {
    height: 200px;
    display: block;
    background: var(--clr-primary-earthBrown-dkn);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bookdetails h3, .bookdetails h4 {
  margin: 0;
}

.bookdetails h3, .bookdetails h4 {
    white-space: nowrap;
    width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: var(--mar-5);
}

.bookdetails .title a {
    color: var(--clr-base);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
}



.bookdetails h4 {
    font-size: 15px;
    font-weight: 400;
    color: var(--clr-bales-lt);
    margin-bottom: var(--mar-15);
}


.regularbtn.small {
    font-size: 14px;
    height: 32px;
    padding: 0 8px;
    gap: 5px;
}

.regularbtn.small span {
  margin-top: -1px;
}

.regularbtn.small svg {
    width: 13px;
    height: 12px;
}

.bookdetails p {
    margin: 0;
    font-size: 14px;
    color: var(--clr-bales-lt);
    opacity: 0.8;
}


.regularbtn.small span.btnicon {
    display: none;
}



/* TOP BOOK */

#top-book {
    max-width: 280px;
    background: var(--clr-primary-appleRed);
    color: var(--clr-neutrals-white);
}

#top-book h3, #top-book p  {
margin: 0;

}

#top-book h3 {
   font-size: 18px;
   font-weight: 600;
}

.top-wrap p {
  font-size: 15px;
}

.top-wrap {
  padding: var(--pad-20);
  gap: 5px;
  
}


img#topimg {
  max-width: 200px;
  border-radius: 20px;
  margin-bottom: var(--mar-15);
  margin-top: var(--mar-20);
  
}

.stars {
  gap: 10px;
  margin-top: var(--mar-15);
  margin-bottom: var(--mar-20);
 
}

.summary .col {
  padding:0 var(--pad-15);
}

.summary p {
  text-align: center;
  font-size: 13px;
}

.summary {
  margin-bottom: var(--mar-20);
}

.summary .col + .col {
  border-left: 1px solid var(--brdr-white-clr);
}

.summary span {
  font-size: 18px;
  display: block;
  font-weight: 500;
}


.top-wrap p.info {
  text-align: center;
  font-weight: 400;
  line-height: 1.5em;
  margin-top: var(--mar-10);
}