
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


:root {
  /* colors */
  --clr-base:                  #1E1E1E;
  --clr-bales-lt:              #525252;
  --clr-primary-appleRed:      #DE5A5A;
  --clr-primary-earthBrown:     #EEE6D5;
  --clr-primary-earthBrown-dk: #E3DBC9;
  --clr-primary-earthBrown-dkn:#D3C8B1;
  --clr-neutrals-white:        #fff;
  --clr-neurals-black:         #000;


  --ff-inter-ss: "Inter", sans-serif;
  /* fonts sizes */

  /* font weights */

  /* duration */
  --tsn-ease-slow: 1s;

  /* elevation */

  /* padding */
  --pad-20: 20px;
  --pad-25: 25px;
  --pad-30: 30px;

}


body{
  margin: 0;
  font-family: var(--ff-inter-ss);
  font-size: 16px;
}

#mainwrap{
  background-color: var(--clr-primary-earthBrown-dk);
}

.container {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
}


/* SIDE MENU */

#sidemenumain{
  background-color: var(--clr-primary-earthBrown);
  height: 100vh;
  z-index: 1;
  width: 280px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 5px 4px rgba(0, 0, 0, 0.06);
}

.divider {
  display: block;
  height: 1px;
  background-color: var(--clr-primary-earthBrown-dk);
  margin: 40px 0;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .icon {
    width: 40px;
    height: 40px;
    background-color: var(--clr-primary-earthBrown-dkn);
    align-content: center;
    text-align: center;
    border-radius: 10px;

    svg{
      margin-bottom: -2px;
    }
}

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--clr-bales-lt);
  }
  
  li {
    display: flex;
    gap: 10px;
  }


  li:hover .icon, li .active .icon {
    background-color: var(--clr-primary-appleRed);
    transition: all ease var(--tsn-ease-slow);
  }
  
  li:hover a, li .active  {
    color: var(--clr-base);
    font-weight: 500;
  }

  li:hover a svg path, li .active svg path {
    stroke: var(--clr-neutrals-white);
  }
  
}




#liblogo {
  margin: 0;
  margin-bottom: 40px;
  img {
    width: 80%;
  }
} 





/* MAIN CONTENT */

/* header */

#libcontent {
  flex: 1;
  background-color: var(--clr-primary-earthBrown-dk);
}

header {
  background-color: var(--clr-primary-earthBrown);
  padding: var(--pad-20) var(--pad-25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#searchform {
  color: var(--clr-base);
  display: flex;
  /* padding: 2px; */
  border: 1px solid transparent;
  border-radius: 5px;
  flex-direction: row-reverse;
  
}

input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 5px 20px;
  padding-left: 55px;
  font-size: 16px;
  color: var(--clr-base);
  border: 1px solid transparent;
  border-radius: 10px;
  height: 48px;
  background: var(--clr-primary-earthBrown-dk);
  margin-left: -50px;
  width: 390px;
}

input[type="search"]:focus {
  outline: var(--clr-primary-appleRed) solid 2px;
} 

input[type="search"]::placeholder {
  color: var(--clr-bales-lt);
}

button[type="submit"] {
  text-indent: -999px;
  z-index: 1;
  
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  margin-left: 10px;
  border: 1px solid transparent;
  border-radius: inherit;
  background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 13L19 19M8 15C4.13401 15 1 11.866 1 8C1 4.13401 4.13401 1 8 1C11.866 1 15 4.13401 15 8C15 11.866 11.866 15 8 15Z' stroke='%23525252' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center;
  cursor: pointer;
  
}


.profilewrap{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
  align-items: center;
}

.profilewrap li {
  display: flex;
  align-items: center;
  
}

li.profile {
  gap: 10px;
}

.profile a:hover, .profile a:hover svg path {
  color: var(--clr-primary-appleRed);
  stroke: var(--clr-primary-appleRed);

}

.profileimage:hover img {
  border-color: var(--clr-primary-appleRed);
  transition: all ease 0.5s;
}
.profile a {
  display: flex;
  text-decoration: none;
  color: var(--clr-base);
  font-weight: 500;
  gap: 10px;
}

.notifcount {
  background: var(--clr-primary-appleRed);
  width: 14px;
  height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-left: -7px;
  margin-top: -5px;
  
}

.notifcount span {
  font-size: 8px;
  color: var(--clr-neutrals-white);
}

.profileimage img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid var(--clr-primary-earthBrown-dkn);
}


/* featured */

#libcontent article {
  padding: var(--pad-25);
  display: flex;
  flex-direction: column;
}

#featuredbooks {

}

.featwrap {
  background-image: url('../images/pokemonbook.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 330px;
  padding: var(--pad-30);
  display: flex;
    align-items: end;

}